.btn-floating {
    background-color: rgb(31, 28, 28);
    color: rgb(255, 215, 1);
}

#commands-list {
    margin-top: 50px;
    background-color: black;
}

.collection-item {
    border-color: rgb(255, 215, 1);
}