/* body {
    background-image: url("../../honeycomb.jpg");
} */

#register-card {
    margin-top: 100px;
}

.card-content white-text {
    background-color: rgb(234, 233, 107);
}

btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #1b1d1d;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}