body {
    background-image: url("https://www.xmple.com/wallpaper/white-beehive-hexagon-yellow-honeycomb-1920x1080-c2-ffd700-f0f8ff-l2-14-181-a-45-f-5.svg");
}

#register-card {
    margin-top: 200px;
}

.card-content {
    background-color: rgb(31, 28, 28);
}